.user_info_block img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0 auto;
  display: block;
}

.user_info_block {
  position: relative;
  width: 125px;
  margin: 0 0 0 auto;
  padding: 6px;
  background: #f0f3f5;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
}

.user_info_block:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #2597dc3b transparent;
  transition: all 0.3s ease-out;
}

.user_info_block .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f0f3f5;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
}

.user_info_block .dropdown li {
  padding: 0 10px;
}

.user_info_block .dropdown li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #e6e8ea;
}

.user_info_block .dropdown li:last-of-type a {
  border: none;
}

.user_info_block .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}

.user_info_block .dropdown li:hover a {
  color: #2597dc;
}

.user_info_block.active {
  border-radius: 5px 5px 0 0;
  background: #2597dc;
  box-shadow: none;
  border-bottom: none;
  color: white;
}

.user_info_block.active:after {
  border-color: #f0f3f58a transparent;
  transform: rotate(-180deg);
}

.user_info_block.active .dropdown {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 420px;
  overflow-y: scroll;
}

.user_info_block .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user_info_block .dropdown li.special__item {
  text-align: right;
  font-size: 11px;
  padding-top: .5rem;

}

.user_info_block .dropdown li.special__item .badge {
  background: #3b3b3b;
  padding: .35em;
  color: #FFF;
  border-radius: 3px;
}